<h2>Authors</h2>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
      <mat-cell *matCellDef="let author"> {{author.id}}</mat-cell>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First Name</mat-header-cell>
      <mat-cell *matCellDef="let author" (click)="onAuthorSelect(author.id)"> {{author.firstName}}</mat-cell>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last Name</mat-header-cell>
      <mat-cell *matCellDef="let author" (click)="onAuthorSelect(author.id)">{{author.lastName}}</mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let author; let position = index">
        <button mat-button ><mat-icon>mode_edit</mat-icon></button>
        <button mat-button><mat-icon (click)="onAuthorDelete(author.id, position)">delete_forever</mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<button mat-button (click)="onAuthorCreate()"><mat-icon>note_add</mat-icon></button>


